.header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ensures items are spaced evenly */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.7);
  padding: 10px 20px; /* Adjust padding as needed */
}

.logo-image {
  height: 60px; /* Adjust logo height as needed */
  margin-top: 10px; /* Margin between logo and right content */
}

.right-content {
  display: flex;
  align-items: center;
}
